<% provide(:title, "Create task") %>
<h1>Create task</h1>

<%= form_for [:admin, @task] do |f| %>
  <%= render "shared/error_messages", object: @task %>
<table class = "table table-bordered width-table80">
  <tr>
    <td width = "20%"><%= f.label :name %></td>
    <td><div class = "magrin-right-3percent"><%= f.text_field :name %></div></td>
  </tr>
  <tr>
    <td><%= f.label :short_description %></td>
    <td><div class = "magrin-right-3percent"><%= f.text_field :short_description %></div></td>
  </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td><div class = "magrin-right-3percent"><%= f.text_area :description %></div></td>
  </tr>
  <tr>
    <td><%= f.label :estimated_time %></td>
    <td><div class = "magrin-right-3percent"><%= f.text_field :estimated_time %></div></td>
  </tr>
  <tr>
    <td><%= f.label :start_date %></td>
    <td>
      <div class="TODO_css_here">
        <div id="datetimepicker1" class="input-append">
          <input name="task[start_date]" id="start_date" data-format="yyyy/MM/dd HH:mm:ss PP" type="text"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td><%= f.label :due_date %></td>
    <td>
      <div class="TODO_css_here">
        <div id="datetimepicker2" class="input-append">
          <input name="task[due_date]" id="due_date" data-format="yyyy/MM/dd HH:mm:ss PP" type="text"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td><%= f.label :assignee %></td>
    <td><div><%= f.select :assignee_id, options_for_select(User.all.map{|user| [user.full_name,user.id]}), include_blank: "Choise assignee" %></div></td>
  </tr>
  <tr>
    <td><%= f.label :kind %></td>
    <td><div><%= f.select :kind, options_for_select(Task.list_kinds(current_user.type).each{|d| [d,d]}), include_blank: "Choise kind of task" %></div></td>
  </tr>
  <tr>
    <td><%= f.label :target_version %></td>
    <td><div class = "magrin-right-3percent"><%= f.text_field :target_version %></div></td>
  </tr>
  <%= f.hidden_field :taskmaster_id, value: current_user.id %>
  <%= f.hidden_field :process, value: 0 %>
  <%= f.hidden_field :status, value: "Open" %>
  <tr>
    <td colspan="2">
      <div class="center"><%= f.submit "Create task", class: "btn btn-primary" , id: "submit"%></div>
    </td>
  </tr>
</table>
<% end %>
<script type="text/javascript">
  $(function(){
    var start_date = "<%= @task.start_date.to_time.strftime('%Y/%m/%d %I:%M:%S %p') if @task.start_date %>"
    $("#start_date").val(start_date);

    var due_date = "<%= @task.due_date.to_time.strftime('%Y/%m/%d %I:%M:%S %p') if @task.due_date %>"
    $("#due_date").val(due_date);

    function pad(number, length){
      var str = "" + number
      while (str.length < length) {
          str = '0'+str
      }
      return str
    };

    $("#submit").click(function() {
      var offset = new Date().getTimezoneOffset();
      offset = ((offset<0? '+':'-')+ pad(parseInt(Math.abs(offset/60)), 2) +
      pad(Math.abs(offset%60), 2));
      var s_date = $("#start_date").val();
      var d_date = $("#due_date").val();
      if (s_date != ""){
        $("#start_date").val(s_date + offset);
      }
      if (d_date != ""){
        $("#due_date").val(d_date + offset);
      }
    });
    $('#datetimepicker1').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
    $('#datetimepicker2').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
</script>
