<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "WORK FARM", root_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Help", help_path %></li>
        <% if signed_in? %>
          <% if current_user.class == Admin %>
            <li><%= link_to "Home", root_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Big farm manager <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All big farm", admin_farms_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Task manager <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All tasks", admin_tasks_path %></li>
                <li><%= link_to "Create task", new_admin_task_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Users manager <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All user", admin_users_path %></li>
                <li><%= link_to "Create user", new_admin_user_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Other funtion", "#" %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", admin_user_path(current_user) %></li>
                <li><%= link_to "Settings", edit_admin_admin_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
<!-- Member -->
          <% elsif current_user.class == Member %>
            <li><%= link_to "Home", root_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Task manager <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All tasks", member_tasks_path %></li>
                <li><%= link_to "Create task", new_member_task_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", member_member_path(current_user) %></li>
                <li><%= link_to "Settings", edit_member_member_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>

          <% else %>
<!-- User -->
          <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "All your farms", user_farms_path(current_user) %></li>
            <li><%= link_to "All tasks", user_tasks_path(current_user) %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% end %>

        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>