<% if signed_in? %>
  <% inprocess_tasks = Task.in_process_find_by_user_id(current_user.id).order_by_due_date %>
  <% important_tasks = Task.important_open_find_by_user_id(current_user.id).order_by_due_date %>
  <% all_tasks = Task.all_task_open_find_by_user_id(current_user.id).order_by_due_date %>

  <table class = "table table-bordered table-hover">
    <thead>
      <tr>
        <th class="main_color">
          Your current tasks
        </th>
      </tr>
    </thead>
    <tbody >
      <% if inprocess_tasks.present? %>
        <% inprocess_tasks.each do |task| %>
          <tr>
            <td>
              <% case current_user.class.name %>
              <% when "Admin" %>
                <div><%= link_to "Task : " + task.name, admin_task_path(task) %></div>
              <% when "User" %>
                <div><%= link_to "Task : " + task.name, user_task_path(current_user, task) %></div>
              <% end %>
              <div>Short description : <%= task.short_description %></div>

              <div>
                <% if task.due_date %>
                  <% task_time = ( task.due_date.to_time.to_i - Time.now.to_i ) %>
                  <% left_time = left_time(task.due_date.to_time,Time.now) %>
                  <% if task_time > 3600 %>  
                    <div>Left time : <%= left_time %>, comments(<%= task.comments.count %>)</div>
                  <% elsif task_time > 0 %>  
                    <div class="left-time-note">Left time : <%= left_time %>, comments(<%= task.comments.count %>)</div>
                  <% else %>
                    <div class="left-time-delay">Delay : <%= left_time %>, comments(<%= task.comments.count %>)</div>
                  <% end %> 
                <% end %>
                Process : (<%= task.process %>%)
                <% if task.process > 50 %>
                  <%= progress_bar(task.process, color: "orange", :rounded => true, :tiny => true) %>
                <% else %>
                  <%= progress_bar(task.process, :rounded => true, :tiny => true) %>
                <% end %> 
              </div>
            </td>
           </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
            You don't have any task in process!
          </td>
        </tr>
      <% end %>
    </tbody >
  </table>

  <% if important_tasks.present? %>
    <table class = "table table-bordered table-hover">
      <thead>
        <tr>
          <th class="main_color">
            Important tasks (<%= important_tasks.count %>)
          </th>
        </tr>
      </thead>
      <tbody >
        <% important_tasks.each do |task| %>
          <tr>
            <td>
              <% task_time = ( task.due_date.to_time.to_i - Time.now.to_i ) if task.due_date %>
              <% left_time = left_time(task.due_date.to_time,Time.now) if task.due_date %>
              <% case current_user.class.name %>
              <% when "Admin" %>
                <% if task.due_date %>
                  <% if task_time > 3600 %>
                    <div class="task">  
                      <div><%= link_to task.name, admin_task_path(task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% elsif task_time > 0 %>
                    <div class="task-note">
                      <div><%= link_to task.name, admin_task_path(task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% else %>
                    <div class="task-delay">
                      <div><%= link_to "Task : " + task.name, admin_task_path(task) %></div>
                      <div>Delay : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="task">
                    <div><%= link_to task.name, admin_task_path(task) %></div>
                    <div>Task don't have dealine</div>
                  </div>
                <% end %>
              <% when "User" %>
                <% if task.due_date %>
                  <% if task_time > 3600 %>
                    <div class="task">  
                      <div><%= link_to task.name, user_task_path(current_user, task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% elsif task_time > 0 %>
                    <div class="task-note">
                      <div><%= link_to task.name, user_task_path(current_user, task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% else %>
                    <div class="task-delay">
                      <div><%= link_to "Task : " + task.name, user_task_path(current_user, task) %></div>
                      <div>Delay : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="task">
                    <div><%= link_to task.name, user_task_path(current_user, task) %></div>
                    <div>Task don't have dealine</div>
                  </div>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <table class = "table table-bordered table-hover">
    <thead>
      <tr>
        <th class="main_color">
          List tasks (<%= all_tasks.count %>)
        </th>
      </tr>
    </thead>
    <tbody >
      <% if all_tasks.present? %>
        <% all_tasks.each do |task| %>
          <tr>
            <td>
              <% task_time = ( task.due_date.to_time.to_i - Time.now.to_i ) if task.due_date %>
              <% left_time = left_time(task.due_date.to_time,Time.now) if task.due_date %>
              <% case current_user.class.name %>
              <% when "Admin" %>
                <% if task.due_date %>
                  <% if task_time > 3600 %>
                    <div class="task">  
                      <div><%= link_to task.name, admin_task_path(task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% elsif task_time > 0 %>
                    <div class="task-note">
                      <div><%= link_to task.name, admin_task_path(task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% else %>
                    <div class="task-delay">
                      <div><%= link_to "Task : " + task.name, admin_task_path(task) %></div>
                      <div>Delay : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="task">
                    <div><%= link_to task.name, admin_task_path(task) %></div>
                    <div>Task don't have dealine</div>
                  </div>
                <% end %>
              <% when "User" %>
                <% if task.due_date %>
                  <% if task_time > 3600 %>
                    <div class="task">  
                      <div><%= link_to task.name, user_task_path(current_user, task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% elsif task_time > 0 %>
                    <div class="task-note">
                      <div><%= link_to task.name, user_task_path(current_user, task) %></div>
                      <div>Left time : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% else %>
                    <div class="task-delay">
                      <div><%= link_to "Task : " + task.name, user_task_path(current_user, task) %></div>
                      <div>Delay : <%= left_time%>, comments(<%= task.comments.count %>)</div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="task">
                    <div><%= link_to task.name, user_task_path(current_user, task) %></div>
                    <div>Task don't have dealine</div>
                  </div>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
            List task is empty
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<!-- TODO
  Use javascript to update time show, it make website look like PRO
 -->
<script type="text/javascript">
  function showtime(){
    var currentdate = new Date(); 
    $("#clock").html( currentdate.getTime() );
    setTimeout("showtime()",1000);
  };
  showtime();
</script>