<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <% if signed_in? %>
      <div>
        <div class="row">
          <div class="leftsidebar">
            <%= render 'layouts/left' %>
          </div>
          <div class="content">
            <%= yield %>
          </div>
          <div class="rightsidebar">
            <%= render 'layouts/right' %>
          </div>
        </div>
      </div>
    <% else %>
    <div class="content-empty width-table90">
      <%= yield %>
    </div>
    <% end %>
    <div class="footer">
      <%= render 'layouts/footer' %>
      <div><%= debug(params) if Rails.env.development? %></div>
    </div>
  </body>
</html>